[submodule "util/jenkins-ctest-plugin"]
	path = util/jenkins-ctest-plugin
	url = git://github.com/rpavlik/jenkins-ctest-plugin.git
[submodule "third-party/lua_modules/lua-docstring/lunatest"]
	path = third-party/lua_modules/lua-docstring/lunatest
	url = git://github.com/silentbicycle/lunatest.git
[submodule "doc/generation/LDoc"]
	path = doc/generation/LDoc
	url = https://github.com/stevedonovan/LDoc.git
[submodule "third-party/osgLua/src/osgLua/osgBoost"]
	path = third-party/osgLua/src/osgLua/osgBoost
	url = https://github.com/vancegroup/osgBoost.git
